//colors
$blue: #252B49;
$white: #E5E5E5;
$red: #FF4343;
$icon-mask: rgba(255, 67, 67, 0.8);
$icon-active: rgba(185, 12, 12, 0.8);
$black: #2D3033;
$blue-logo: #656980;
$grey: #6C7279;
$icon: #C6CBCD;
$grey-dis: #808080;
$border: #BABBC5;
$action-border: #E71414;
$faceboock: #4267B2;
$instagram: #cd41ad;
$slider-background: rgba(92, 50, 73, 1);
$bullet: #7E5D6F;
$black: #000000;
$footer-background: #353C65;
$footer-background-age: #2C3154;


